In [1]:
1+2

3

In [2]:
4

4

In [3]:
4%2

0

In [4]:
4/2

2.0

In [5]:
5//2

2

In [6]:
5/2

2.5

In [7]:
5+3*2

11

In [8]:
(5+3)*2

16

In [9]:
type(4/2)

float

In [10]:
type(2)

int

In [11]:
type(2.5)

float

In [12]:
type('sujith')

str

In [14]:
a=10
b=20
c=a+b

In [15]:
c

30

In [16]:
type('c')

str

In [18]:
#Boolean Operation
True

True

In [19]:
False

False

In [20]:
True or False

True

In [21]:
True and False

False

In [22]:
True and True

True

In [23]:
True | False

True

In [24]:
type(True | False)

bool

In [25]:
a=10
b=20
a+b>30

False

In [26]:
a=10
b=20
a+b>30 | a-b<10

True

In [27]:
a-b<10

True

In [28]:
str1='sujith is a good boy'

In [29]:
str1

'sujith is a good boy'

In [30]:
print(str1)

sujith is a good boy

In [38]:
str2='A good boy'
str3='A bad boy'

In [39]:
str2+' '+str3

'A good boy A bad boy'

In [34]:
print(str2)
print(str3)

A good boy
A bad boy

In [40]:
name=input('Enter your name?')

Enter your name?Sujith Nair

In [41]:
name

'Sujith Nair'

In [42]:
print(name)

Sujith Nair

In [43]:
#add 2 numbers
a=float(input('enter number 1?'))
b=float(input('enter number 2?'))
c=a+b
print('The output is', c)

enter number 1?2
enter number 2?2
The output is 4.0

In [44]:
##########string formatting
first_name=input('Enter your first name?')
last_name=input('Enter your second name?')
print('Welcome to Ineuron',first_name,last_name)

Enter your first name?Sujith
Enter your second name?Nair
Welcome to Ineuron Sujith Nair

In [45]:
first_name=input('Enter your first name?')
last_name=input('Enter your second name?')
print('My first name is {} my last name is {}'.format(first_name,last_name))

Enter your first name?Sujith
Enter your second name?Nair
My first name is Sujith my last name is Nair

In [46]:
first_name=input('Enter your first name?')
last_name=input('Enter your second name?')
print('My first name is {firstname} my last name is {lastname}'.format(lastname=last_name,firstname=first_name))

Enter your first name?Sujith
Enter your second name?Nair
My first name is Sujith my last name is Nair

In [47]:
1+string

NameError: name 'string' is not defined

In [50]:
1+int('5')

6

In [51]:
sujith+1

NameError: name 'sujith' is not defined

In [58]:
##conditional statement
###if elif
a=int(input("Enter the number1?"))
b=int(input("Enter the number2?"))
c=a-b
print("The output is",c)
if c<0:
    print("The number is negative")
elif c>0:
    print("The number is positive")

Enter the number1?20
Enter the number2?10
The output is 10
The number is positive

In [59]:
a=int(input("Enter the number1?"))
b=int(input("Enter the number2?"))
c=a-b
print("The output is",c)
if c<0:
    print("The number is negative")
elif c>40:
    print("The difference is huge")
elif c>0:
    print("The number is positive")

Enter the number1?100
Enter the number2?50
The output is 50
The difference is huge

In [60]:
lst=[1,2,3,'Sujith','Nair']

In [61]:
lst

[1, 2, 3, 'Sujith', 'Nair']

In [62]:
lst[3]

'Sujith'

In [63]:
lst[:]

[1, 2, 3, 'Sujith', 'Nair']

In [64]:
type(lst)

list

In [66]:
list([1,2,3,'Sujith','Nair'])

[1, 2, 3, 'Sujith', 'Nair']

In [67]:
lst[4]

'Nair'

In [71]:
lst.append('DataScience')

In [72]:
lst

[1, 2, 3, 'Sujith', 'Nair', 'Data Science', 'DataScience']

In [74]:
lst[5]='Course'

In [75]:
lst

[1, 2, 3, 'Sujith', 'Nair', 'Course', 'DataScience']

In [76]:
lst.append('Sujith')
lst.append('Sujith')
lst

[1, 2, 3, 'Sujith', 'Nair', 'Course', 'DataScience', 'Sujith', 'Sujith']

In [77]:
lst.count('Sujith')

3

In [78]:
lst.count(1)

1

In [79]:
#Indexing String
#Immutable
str1='Sujith'
str1

'Sujith'

In [80]:
str1[1]

'u'

In [81]:
str1[0]

'S'

In [82]:
str1[3]

'i'